.container {
    margin: 8rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.head {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.timeLine {
    margin: 6rem auto 0 auto;
}

.desktopVersion {
    display: flex;
}

.mobileVersion {
    display: none;
}

@media only screen and (max-width: 768px) {
    .container {
        padding-bottom: 4rem;
        margin: 0 auto 0 auto;
        padding-top: 8rem;
    }

    .desktopVersion {
        display: none;
    }

    .mobileVersion {
        display: flex;
    }
}
