.container {
    margin: 8rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.head {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.timeLine {
    margin: 6rem auto 0 auto;
}
