.container{
    height: 10rem;
    width: 80%;
    margin: 8rem auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.q1 {

}


.quoteText {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.q1 {

}

@media only screen and (max-width: 768px) {
    .container{
        height: 10rem;
        width: 90%;
        margin: 8rem auto 0 auto;
    }

    .quoteText {
        line-height: 16px;
        font-size: 11px;
        width: 85%;
        text-align: center;
        margin-top: 2rem;
    }
}
