.container {
    position: relative;
    top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    align-items: flex-start;
    width: 100vw;
    height: auto;
    padding-bottom: 2rem;
}

.exBack {
    width: 90%;
    z-index: 96;
}

.excelsior21 {
    margin-top: 0rem;
    align-self: center;
    width: 50%;
    position: absolute;
    z-index: 98;
}

.ex21 {
    margin-top: 1.4rem;
    align-self: center;
    width: 80%;
    position: absolute;
    z-index: 98;
}

.regNowRect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 2rem;
    margin: 2rem 0 0 1rem;
    border: solid 1px transparent;
    border-radius: 30px;
    background-image: linear-gradient(#292929, #292929), linear-gradient(to right, #F62D2D 0%, #3F71FF 54.48%, #2EFFFF 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    align-self: center;
    position: relative;
    z-index: 98;
    outline: none;
    transition: 0.2s all;
}

/*.regNowRect:hover {*/
/*    outline: none;*/
/*    background-image: linear-gradient(#393939, #393939), linear-gradient(to right, #F62D2D 0%, #3F71FF 54.48%, #2EFFFF 100%);*/
/*}*/

.regNowRect:active {
    outline: none;
    background-image: linear-gradient(#393939, #393939), linear-gradient(to right, #F62D2D 0%, #3F71FF 54.48%, #2EFFFF 100%);
}

.regNowLink {
    font-weight: 500;
    padding: 2rem 1rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
}

.regClosed {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 50%;
}

.cube {
    z-index: 97;
    position: absolute;
    left: -2rem;
    max-width: 30%;
    top: 9rem;
    transform: rotate(90deg);
}



@media only screen and (min-width: 769px) {
    .container {
        display: none;
    }
}
