.container {
    /*margin: 0;*/
    /*top: 0;*/
    /*left: 0;*/
    /*position: relative;*/
    /*width: 100vw;*/
    /*height: 100%;*/
}
.dtContainer {
    margin: 0;
    top: 0;
    left: 0;
    position: relative;
    width: 100vw;
    height: 100%;
}

.exBackImage {
    margin: 3rem 0 0 5px;
    position: relative;
    top: 0;
    left: 0;
}

.excelsior21Image {
    position: absolute;
    top: 130px;
    left: 558px;
}

.ex21 {
    position: absolute;
    top: 160px;
    left: 460px;
}

.riseTextContainer {
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: 100;
    position: absolute;
    top: 350px;
    left: 500px;
}
.riseQuotes {
    display: none;
    /*margin-right: 4px;*/
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}
.riseText {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    /*margin-right: 4px;*/
    color: #fff;
    font-size: 40px;
    font-weight: 100;
}

.regNowBorder {
    position: absolute;
    top: 430px;
    left: 560px;
}

.regNowLinkContainer {
    width: 270px;
    height: 40px;
    position: absolute;
    top: 434px;
    left: 568px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    outline: none;
    transition: 0.4s all;
}

.regNowLinkContainer:hover {
    background-color: #343434;
}

.regNowLinkContainer:active {
    background-color: #323232;
}

.regNowLink {
    text-decoration: none;
    outline: none;
    color: #fff;
}

.cube1 {
    position: absolute;
    top: 230px;
    left: 960px;
}

.cube2 {
    position: absolute;
    top: 370px;
    left: 10px;
}

.cube3 {
    position: absolute;
    top: 120px;
    left:300px;
}

@media only screen and (max-width: 768px) {
    .desktopVersion {
        display: none;
    }
}


