.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10rem auto 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.guestsHeadBack {
    position: relative;
}

.guestHeadTextContainer {
    position: absolute;
    margin: 1.5rem auto 0 auto;
    color: white;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 2rem auto 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.cardImage {
    padding: 0;
}

.cardText {
    text-align: center;
}

.guestName {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.guestDesignation {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 auto 0 0;
        padding-top: 10rem;
        width: 100vw;
    }

    .header {
        z-index: 98;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 97%;
        height: 100%;
        margin: 0 auto;
    }

    .guestsHeadBack {
        position: relative;
    }

    .guestHeadTextContainer {
        position: absolute;
        margin: 0 0 0 0;
        color: white;
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
    }

    .bodyContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .cardImage {
        max-width: 50%;
    }

    .cardText {
        text-align: center;
        width: 70%;
    }

    .guestName {
        margin-bottom: 3px;
    }

    .guestDesignation {

    }
}
