.gridContainer {
    display: grid;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.gridItem1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.gridItem2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.gridItem3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.card {
    padding: 16px;
    margin: 1rem;
    text-align: left;
    width: 12rem;
    border-style: solid;
    border-color: #fff !important;
    border-width: 2px;
    background-color: #292929;
}

.btn {

      margin: auto;
      display: block;
      background-color: #fff;
      color: #292929;
      border-radius: 5px;
      height:2rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      outline: none;
      font-size: 0.8rem;
      margin-top:12rem;
}

.btn:hover {
    background-color: #dfdfdf;
}

.btnText {
    line-height:2rem;
}

.heading {
    text-align: center;
    margin-bottom: 5px;
}

.header {
    color: #fff;
    margin-bottom: 0rem;
}

.subHeader {
    color:#fff;
    font-weight: 400;
}
