:root {
  --transition: all 0.1s linear;
}

.section {
  margin: 0 2rem;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/Alumni/MobileAlumni.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.sectionImage {
  position: absolute;
  top: 25px;
  width: 70%;
  z-index: 10;
}
.image {
  width: 505px;
  height: 371px;
  border-radius: 10px;
}

.sectionCenter {
  width: 100vw;
  height: 500px;
  max-width: 1500px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  background-image: url("../../../images/Alumni/aaka\ 1.svg");
  /* background-color: rgb(228, 166, 166); */
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.slide.lastSlide {
  transform: translateX(-0.5%);
}
.slide.nextSlide {
  transform: translateX(0.5%);
}
.image {
  width: 191px;
  min-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
  /* transform: translate(-5px, 40px) scaleY(1.1); */
  transform: translate(-5px, 26px) scaleY(1.1);
}

@media only screen and (max-width: 768px) {
  .section {
    display: flex;
  }
}
