.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 8rem 5rem 0 5rem;
}

.leftContainer {
    flex: 6;
    padding-right: 2rem;
}

.leftHeader {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #fff;
}

.leftHeaderText {
    display: block;
    color: #fff;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.leftHeadExcelsior21 {

}

.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 3rem 0 0 0;
}

.detailsHeader {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 2rem;
}

.details{
    padding-left: 2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-left: 1px solid #fff;
}

.detail {
    margin: 1rem 0 1rem 0;
}

.detailsName {
    margin-bottom: 4px;
}

.detailsNumber {

}

.rightContainer {
    flex: 4;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.rightHeader {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enquiryHead {
    color: #000;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.enquiryText {
    margin: 1.5rem auto 0 auto;
    color: #878787;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    width: 70%;
}

.formContainer {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.formEntity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.entityHead{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #292929;
    align-self: start;
    margin: 0 0 5px 3.4rem;
}

.inputText {
    width: 70%;
    border: none;
    border-bottom: 1px solid #989898;
}

.inputText:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.inputTextArea {
    width: 70%;
    height: 10rem;
    resize: none;
    border: 1px solid #989898;
}

.inputTextArea:focus {
    outline: none;
    border: 1px solid #676767;
}

.submitButton {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    width: 60%;
    font-size: 20px;
    height: 3rem;
    margin-bottom: 2rem;
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.3);
    transition: 0.2s all;
}

.submitButton:active {
    font-size: 23px;
}
