.container {
    width: 94%;
    margin: 1.5rem auto 0 auto;
    display: flex;
    border-bottom: 1px solid #fff;
}

.homeLink {
    margin-left: 1rem;
}

.excelsiorImage {
    margin: 0 auto 0 0;
}

.menuContainer {
    position: relative;
    margin: auto 0 -2px auto;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: end;
}

.menuItem {
    padding-bottom: 7px;
    color: #fff;
    text-decoration: none;
    margin-right: 3rem;
    cursor: pointer;
}

.navBarContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.desktopVersion {

}

@media only screen and (max-width: 768px) {
    .desktopVersion {
        display: none;
    }
    .container {
        z-index: 99;
        margin: 0 0 0 0;
        height: 4rem;
        width: 100vw;
        border-bottom: none;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
    }
}

