.container {
    width: 94%;
    margin: 1.5rem auto 0 auto;
    display: flex;
    border-bottom: 1px solid #fff;
}

.excelsiorImage {
    margin-left: 4rem;
    margin-right: auto;
}

.menuContainer {
    margin: auto auto -2px auto;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: end;
}

.menuItem {
    padding-bottom: 3px;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.navBarContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

