.container {
    background-color: #292929;
    opacity: 0.9;
    padding: 2rem 2rem 0 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.exLogoLink {
    width: 12%;
}

.exLogo {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.hamburger {
    opacity: 1;
    width: 9%;
    cursor: pointer;
}

@media only screen and (min-width: 550px) {
    .exLogoLink {
        width: 8%;
    }

    .hamburger {
        opacity: 1;
        width: 6%;
        cursor: pointer;
    }
}

@media only screen and (min-width: 769px) {
    .mobileVersion {
        display: none;
    }
}
