.container {
    margin: 33vh auto 0 5rem ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sponsorsHeadBack {
}

.sponsorTextHead {
    position: absolute;
    margin: 4rem 0 0 2rem;
    color: white;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.typeContainer {
    margin: 8rem 0 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.typeHead {
    color: #fff;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.cardContainer {
    margin: 4rem 0 0 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}

.card {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.epoqImg {
    max-width: 60%;
}

.cardTitleLink {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: #fff;
}

.sponsorImage {
    max-width: 75%;
}

.cardName {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}

.cardDescription {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    margin-top: 4px;
}



@media only screen and (max-width: 768px) {
    .container {
        margin: 0 auto 0 0;
        padding-top: 10rem;
        width: 100vw;
        padding-bottom: 4rem;
    }

    .headerContainer {
        z-index: 98;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 97%;
        height: 100%;
        margin: 0 auto;
    }

    .sponsorsHeadBack {
        position: relative;
    }

    .sponsorTextHead {
        position: absolute;
        margin: 0 0 0 0;
        color: white;
        font-size: 40px;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
    }

    .typeContainer {
        margin: 3rem 0 3rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .typeHead {
        color: #fff;
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    .cardContainer {
        margin: 6rem 0 3rem 0;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .card {
        height: 10rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .cardTitleLink {
        font-size: 18px;
    }

    .cardName {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
    }

    .cardDescription {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        text-align: center;
    }

    .epoqImg {
        max-width: 60%;
    }
}
